.product-image-animate-wrapper{
    --top-position: 10vh;
    --left-position: 10vw;
    --top-end-position: 32px;
    position: absolute;
    top: var(--top-position);
    left: var(--left-position);
    z-index: 20;
    display: none;
}

.product-image-animate-active {
    animation: addcart 0.8s forwards;
    display: block;
}

@keyframes addcart {
    0% {
        top: var(--top-position);
        left: var(--left-position);
        transform: scale(1);
    }
    100% {
        top: var(--top-end-position);
        left: calc(100vw - var(--left-position));
        width:10px;
        height:10px;
        opacity: 0.3;
    }
}